.env
.osp
.git
.idea
.vscode
vendor
node_modules
_ide_helper.php

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/logs
!/storage/logs/.gitignore
/storage/framework
/storage/app
