services:
  sc_php:
    image: special-c/sc_php:main
    # container_name: sc_php
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    volumes:
      - ../app:/app/app:delegated
      - ../bootstrap:/app/bootstrap:delegated
      - sc_php_bootstrap_cache_volume:/app/bootstrap/cache
      - ../config:/app/config:delegated
      - ../database:/app/database:delegated
      - ../public:/app/public:delegated
      - ../routes:/app/routes:delegated
      - ../tests:/app/tests:delegated
    depends_on:
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy

  sc_nginx:
    image: nginx:1.27.3-alpine
    ports:
      - "22080:80"
    volumes:
      - ../public:/app/public:ro
      - ../docker/linux/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - sc_php

  sc_mysql:
    image: mysql:8.4.4
    restart: unless-stopped
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_0900_ai_ci
    environment:
      TZ: ${TZ}
      MYSQL_DATABASE: php_creativity
      MYSQL_USER: basic
      MYSQL_PASSWORD: basic
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "33060:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-proot"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 80s
    volumes:
      - sc_db_mysql_volume:/var/lib/mysql

  sc_redis:
    image: redis:7.4.1-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 42s
    volumes:
      - sc_cache_redis_volume:/data

  sc_scheduler:
    image: special-c/sc_scheduler:main
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    volumes:
      - ../app:/app/app:delegated
      - ../bootstrap:/app/bootstrap:delegated
      - ../config:/app/config:delegated
      - ../database:/app/database:delegated
      - ../public:/app/public:delegated
      - ../routes:/app/routes:delegated
      - ../tests:/app/tests:delegated
    depends_on:
      sc_php:
        condition: service_started
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    command: ["sh", "-lc", "while true; do php artisan schedule:run --verbose --no-interaction || true; sleep 60; done"]
    restart: unless-stopped

volumes:
  sc_db_mysql_volume:
    name: sc_db_mysql
  sc_cache_redis_volume:
    name: sc_cache_redis
  sc_php_bootstrap_cache_volume:
    name: sc_php_bootstrap_cache
