services:
  sc_php:
    image: special-c/sc_php:prod
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    depends_on:
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy

  sc_nginx:
    image: special-c/sc_nginx:prod
    build:
      context: ..
      dockerfile: docker/Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - sc_php

  sc_mysql:
    image: mysql:8.4.4
    restart: unless-stopped
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_0900_ai_ci
    environment:
      TZ: ${TZ}
      MYSQL_DATABASE: php_creativity
      MYSQL_USER: basic
      MYSQL_PASSWORD: basic
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-proot"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 80s
    volumes:
      - sc_db_mysql:/var/lib/mysql

  sc_redis:
    image: redis:7.4.1-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 42s
    volumes:
      - sc_cache_redis:/data

  sc_scheduler:
    image: special-c/sc_scheduler:prod
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    depends_on:
      sc_php:
        condition: service_started
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    command: ["sh", "-lc", "while true; do php artisan schedule:run --verbose --no-interaction || true; sleep 60; done"]
    restart: unless-stopped

volumes:
  sc_db_mysql:
  sc_cache_redis:
